<!DOCTYPE html>
<html ng-app="irsearch">

<head>
    <meta charset="utf-8"/>
    <title>IRproject</title>
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/angular-animate.js"></script>
    <script src="../static/js/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/dirPagination.js"></script>
    <script src="../static/js/angular-sanitize.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="ResultsController as resultCtrl">
<div class="container" ng-controller="TabController as tab">
    <div class="row">
        <div class="span12">
            <div class="well">
                <div><!--ng-show="!resultCtrl.userSearched" -->
                    <img ng-src="../static/img/YAPS.png" align="middle"
                         style="height: 20%; width: 20%; margin:0 37%; display: block"/></div>

                <form ng-submit="resultCtrl.showResults()" ng-controller="ResultsController" class="form-inline"
                      method="post"
                      name="post">
                    <div class="control-group" style="text-align: center">
                        <label class="control-label" for="post">what arrr ya looking forr?</label>
                        <div class="controls">
                            <input name="query" ng-model="resultCtrl.phrase" class="form-control" id="inputdefault"
                                   size="100%" type="text"/>
                            <div><br><a type="submit" ng-click="resultCtrl.showResults()"
                                        class="btn btn-primary"
                                        role="button" style="margin-right: 15px">Search!</a></div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="resultCtrl.userSearched">
                <p ng-show="resultCtrl.correctedQuery!=resultCtrl.input && !resultCtrl.errors.length" class="text-info"> Вас запрос был исправлен на <b>{[
                    resultCtrl.correctedQuery ]} </b></p>
                <p ng-show="resultCtrl.errors.length"> <b>{[ resultCtrl.errors ]}</b> </p>
                <div style="margin:0 38%" ng-show="!resultCtrl.errors.length">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:tab.isSet(1) }">
                            <a href ng-click="tab.setTab(1);resultCtrl.filters.category = ''">All</a>
                        </li>
                        <li ng-class="{ active:tab.isSet(2) }">
                            <a href ng-click="tab.setTab(2);resultCtrl.filters.category = 'movies'">Films</a>
                        </li>
                        <li ng-class="{ active:tab.isSet(3) }">
                            <a href ng-click="tab.setTab(3);resultCtrl.filters.category = 'games'">Games</a>
                        </li>
                        <li ng-class="{ active:tab.isSet(4) }">
                            <a href ng-click="tab.setTab(4);resultCtrl.filters.category = 'series'">Series</a>
                        </li>
                    </ul>
                </div>
                <div ng-show="tab.isSet(1)"
                     dir-paginate="result in resultCtrl.results|itemsPerPage:10">
                    <blockquote>
                        <a href="{[ result.magnet ]}" target="_blank">
                            <img style="transform: rotate(270deg)" ng-src="../static/img/magnet.png"/></a>
                        <a href="{[ result.link ]}" target="_blank"> <span
                                style="font-size: 14pt">{[ result.title ]}</span> </a>
                        <a href="{[ result.link ]}" target="_blank"><p class="text-muted" style="font-size: 8pt"> {[
                            result.link ]}</p></a>
                        <h6><kbd> {[ result.category ]} </kbd></h6>
                        <p style="font-size: 10pt" ng-bind-html="result.snippet"></p>
                    </blockquote>
                </div>
                <div ng-show="tab.isSet(2)"
                     dir-paginate="result in resultCtrl.results|filter:resultCtrl.filters|itemsPerPage:10">
                    <blockquote>
                        <a href="{[ result.magnet ]}" target="_blank">
                            <img style="transform: rotate(270deg)" ng-src="../static/img/magnet.png"/></a>
                        <a href="{[ result.link ]}" target="_blank"> <span
                                style="font-size: 14pt">{[ result.title ]}</span> </a>
                        <a href="{[ result.link ]}" target="_blank"><p class="text-muted" style="font-size: 8pt"> {[
                            result.link ]}</p></a>
                        <p style="font-size: 10pt" ng-bind-html="result.snippet"></p>
                    </blockquote>
                </div>
                <div ng-show="tab.isSet(3)"
                     dir-paginate="result in resultCtrl.results|filter:resultCtrl.filters|itemsPerPage:10">
                    <blockquote>
                        <a href="{[ result.magnet ]}" target="_blank">
                            <img style="transform: rotate(270deg)" ng-src="../static/img/magnet.png"/></a>
                        <a href="{[ result.link ]}" target="_blank"> <span
                                style="font-size: 14pt">{[ result.title ]}</span> </a>
                        <a href="{[ result.link ]}" target="_blank"><p class="text-muted" style="font-size: 8pt"> {[
                            result.link ]}</p></a>
                        <p style="font-size: 10pt" ng-bind-html="result.snippet"></p>
                    </blockquote>
                </div>
                <div ng-show="tab.isSet(4)"
                     dir-paginate="result in resultCtrl.results|filter:resultCtrl.filters|itemsPerPage:10">
                    <blockquote>
                        <a href="{[ result.magnet ]}" target="_blank">
                            <img style="transform: rotate(270deg)" ng-src="../static/img/magnet.png"/></a>
                        <a href="{[ result.link ]}" target="_blank"> <span
                                style="font-size: 14pt">{[ result.title ]}</span> </a>
                        <a href="{[ result.link ]}" target="_blank"><p class="text-muted" style="font-size: 8pt"> {[
                            result.link ]}</p></a>
                        <p style="font-size: 10pt" ng-bind-html="result.snippet"></p>
                    </blockquote>
                </div>
                <div style="text-align: center" ng-show="!resultCtrl.errors.length">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
                                             class="pagination-sm">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>